.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
.DS_Store
Thumbs.db
